@model IPG.Projeto.MVC.Models.Problem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anonymous)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anonymous)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhenSentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenSentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flagged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flagged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SendFailCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendFailCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenDFailReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenDFailReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SendFailDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendFailDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Counter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Counter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Public)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Public)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Council)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Council.CouncilID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
